<nav class="footer">
<a href="{{'contact/'|relative_url}}" class="foot">Contact</a>
<a href="{{'praktisch/'|relative_url}}" class="foot">Praktisch</a>
<a class="foot copyright">© 2017 iGoat</a>
<a href="{{'www.facebook.com'|relative_url}}"><img class="sprite social-media" src="{{ 'assets/images/sprites-igoat.png' | relative_url }}" alt="facebook icoon"></a>
<a href="{{'www.twitter.com'|relative_url}}" class="sprite"><img class="sprite social-media" src="{{ 'assets/images/sprites-igoat.png' | relative_url }}" alt="twitter icoon"></a>
<a href="{{'www.instagram.com'|relative_url}}" class="sprite"><img class="sprite social-media" src="{{ 'assets/images/sprites-igoat.png' | relative_url }}" alt="Instagram icoon"></a>
</nav>