<nav class="footer">
<a href="{{'contact/'|relative_url}}" class="foot">Contact</a>
<a href="{{'praktisch/'|relative_url}}" class="foot">Praktisch</a>
<a class="foot copyright">© 2017 iGoat</a>
<div class="center-footer">
<a href="{{'www.facebook.com'|relative_url}}"><div class="sprite social-facebook" alt="facebook icoon"></div></a>
<a href="{{'www.twitter.com'|relative_url}}" class="sprite"><div class="sprite social-twitter" alt="twitter icoon"></div></a>
<a href="{{'www.instagram.com'|relative_url}}" class="sprite"><div class="sprite social-instagram" alt="instagram icoon"></div></a>
</div>
</nav>