<nav class="footer">
    <div class="d-flex align-items-center justify-content-center">
        <a href="{{'contact/'|relative_url}}" class="foot">Contact</a>
        <a href="{{'praktisch/'|relative_url}}" class="foot">Praktisch</a>
        <a class="foot copyright">© 2017 iGoat</a>
    </div>
    <div class="d-flex align-items-center justify-content-center justify-content-around"></div>
        <a href="https://www.facebook.com">
            <div class="sprite social-facebook" alt="facebook icoon"></div>
        </a>
        <a href="https://www.twitter.com">
            <div class="sprite social-twitter" alt="twitter icoon"></div>
        </a>
        <a href="https://www.instagram.com">
            <div class="sprite social-instagram" alt="instagram icoon"></div>
        </a>
    </div>
</nav>