@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss


/* Algemeen */
body {
  font-family: $body-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $wit;
  background-color: $groen;
}

h1, h2, h5 {
  font-family: $titel-font;
}

h1 {
  font-size: 50px;
  line-height: 63px;
}

h2 {
  font-size: 40px;
  line-height: 45px;
}

h5 {
  font-size: 20px;
}

.btn-primary {
  background: $geel;
  border: none;
  border-radius: 0px;
  font-family: $titel-font;
  font-size: 20px;
}

.img-fluid {
  max-height: 400px;
  width: 100vw;
}

/* Navigatie */
.navbar-toggler {
  border: none;
  background-color: $geel;
  margin-top: 30px;

  &:active {
    border: 1px;
    background-color: $rood;
  }
}

.nav-link {
  font-family: $titel-font;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;

  &:hover {
    background-color: $geel;
    padding-top: -20px;
    margin-top: -2px;
    font-size: 32px;
    transition: 0.2s;
  }

  &:active {
    text-decoration: underline;
  }
}

/* Frontpage + header*/
.img {
  position: relative;
  float: left;
  margin-bottom: 15px;
  width: 100vw;
}

.img-title {
  position: absolute;
  bottom: 5px;
  right: 20px;
  color: $wit;
}

.btn-quote {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: $wit;
  }

.quote{
    position: absolute;
    text-align: right;
    top: 20%;
    left: 20px;
    right: 50px;
    color: $wit;
    text-shadow: 1px 1px #000000;
    }

.caption {
  font-size: 20px;
  line-height: 20px;
}

.tekstcover {
  font-family: $body-font;
  font-weight: normal;
  position: relative;
}

/* knop effecten */
.btn-primary {
  letter-spacing: 0;
}

.btn-primary:hover,
.btn-primary:active {
  letter-spacing: 5px;
  transition: 850ms;
}

.btn-primary:after,
.btn-primary:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-primary:hover:after,
.btn-primary:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-primary:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.btn-block {
  margin-bottom: 20px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    background-color: red;
  }
}

/* Gerda-pagina */
.prijs {
  font-size: 24px;
  line-height: 24px;
}

/* Praktisch */
.faq {
  color: $blauw;
  margin-bottom: 20px;
  margin-left: 5vw;
  margin-right: -50px;
  width: 50vw;
}

.card {
  background-color: $geel;
  border: none;
  margin-bottom: 20px;
  margin-left: 50px;
  color: $blauw;

  &:hover {
    background-color: $blauw;
    transition: 0.2ms;
  }

  &:active {
    background: $groen;
    border: none;
  }
}

.card-body {
  background-color: $groen;
  border: none;
}

h5>a:hover {
  text-decoration: none;
}

.vraag {
 color: $wit;

 &:hover {
   opacity: 0.5;
 }
}

/* Contact */
input[type="name"], textarea{
  background-color: $blauw;
  border: none;
}

input[type="email"], textarea{
  background-color: $blauw;
  border: none;
}

.form-control{
  background-color: $blauw;
  border: none;
}

small {
  line-height: 12px;
}

.tel {
  color: #fff;
  text-decoration: underline;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: $geel;
  }
}

/* Over Ons */


/* Account */
.hulptekst {
  margin-top: -10px;
  margin-bottom: 30px;
}

/* Bevestiging pagina */
.tijdstip {
  text-decoration: underline;
}

/* Footer */
.footer {
  background: #7D7D7D;
  padding: 30px;
  text-align: center;
}

.foot {
  color: $wit;
  font-size: 12px;

  &:hover {
    color: $wit;
    text-decoration: underline;
    opacity: 0.5;
  }

  &:active {
    color: $geel;
    text-decoration: underline;
  }
}

.justify-content-center a{
  margin-left: 50px;
}

.copyright:hover {
  word-spacing: 0px;

  &:hover {
    opacity: 0.5;
  }
}

/* Sprites */
.sprite {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('sprites-igoat-v2.svg');
  background-size: 100%;
  margin-right: -20px;
}

/* sprites in nav */
.account .sprite {
  height: 50px;
  width: 50px;
  background-size: 1650%;
  background-position-x: -220px;
  margin-top: 20px;
  margin-right: -10px;

  &:hover {
    background-position-y: -51px;
  }

  &:active {
    opacity: 0.5;
  }
}

.winkelmand .sprite {
  height: 50px;
  width: 50px;
  background-size: 1550%;
  background-position-x: -155px;
  margin-right: 10px;
  margin-top: 20px;

  &:hover {
    background-position-y: -51px;
  }

  &:active {
    opacity: 0.5;
  }
}

/* sprites-logo */
.logo {
  height: 80px;
  width: 170px;
  background-size: 800%;
  background-position-y: -163px;

  &:hover {
    height: 80px;
    width: 170px;
    background-size: 800%;
    background-position-y: -245px;
  }

  &:active {
    opacity: 0.5;
  }
}

/* sprites-Social Media */
.social-facebook {
  height: 30px;
  width: 30px;
  background-size: 1650%;

  &:hover{
    background-position-y: -30px;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.5;
  }
}

.social-twitter {
  height: 30px;
  width: 30px;
  background-size: 1550%;
  background-position-x: -30px;
  margin-right: 15px;
  margin-left: 20px;

  &:hover {
    background-position-y: -28px;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.5;
  }
}

.social-instagram {
  height: 30px;
  width: 30px;
  background-size: 1650%;
  background-position-x: -65px;
  margin-left: -20px;

  &:hover {
    background-position-y: -30px;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.5;
  }
}

.center-footer {
  margin-top: 1vw;
  margin-left: -15vw;
}

/* iFrame en adres*/
.embed-responsive {
  height: 30vw;
  width: 40vw;
  margin-left: 1vw;
  margin-right: 10vw;
}

/* Popup Windows */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(245, 245, 245, .5);
  transition: 50ms; 
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  color: #000;
}

.popup>h2 {
  margin-top: 0;
  color: #000;
  font-family: $body-font;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .nav-link {
    font-family: $titel-font;
    font-size: 30px;
    text-align: center;
    margin-bottom: -35px;
    margin-left: 20px;
    }

  .nav-link:active {
    text-decoration: none;
    font-size: 50px;
    color: $geel;
    text-shadow: 2px 2px #ff0000;
    }

  .quote {
    top: 300px;
    right: 50px;
    }

  .caption {
    font-size: 30px;
    line-height: 30px;
    margin-top: -200px;
    }
  .account .sprite {
    position: absolute;
    top: 20px;
    right: 100px;
    margin-right: 100px;
    margin-top: 30px;
    }
      
  .winkelmand .sprite {
    position: absolute;
    top: 20px;
    right: 100px;
    margin-right: 40px;
    margin-top: 30px;
    }

  .nav-link:hover {
    transform: rotate(7deg);
    }

  .foot {
    font-size: 16px;
  }

  .tekst-kolom {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}