@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

/* Algemeen */
body {
  font-family: $body-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: $groen;
}

h1, h2, h5 {
  font-family: $titel-font;
}

h1 {
  font-size: 50px;
  line-height: 63px;
}

h2 {
  font-size: 40px;
  line-height: 45px;
}

h5 {
  font-size: 20px;
}

.btn-primary{
  background: $geel;
  border: none;
  border-radius: 0px;
  font-family: $titel-font;
  font-size: 20px;
}

.img-fluid{
  max-height: 500px;
}

/* Navigatie */
.navbar {
  background-attachment: $blauw;
}

.navbar-nav {
  background-color: $blauw;
}

.navbar-toggler {
  border: none;
  background-color: $geel;
}

.navbar-toggler:active {
  border: 1px;
  background-color: $blauw;
}

.nav-link {
  font-family: $titel-font;
  font-size: 20px;
  text-align: center;
}
.nav-link:hover {
  background-color: $rood;
}

.nav-link:active {
  text-decoration: underline;
}

/* Frontpage + header*/
.img {
  position: relative;
  float: left;
  margin-bottom: 15px;
  width: 100vw;
}

.img-title {
  position: absolute;
  bottom: 5px;
  right: 20px;
  color: rgb(245, 245, 245);
}

.btn-quote{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: rgb(245, 245, 245);
  }

.quote{
    position: absolute;
    text-align: right;
    top: 80px;
    left: 20px;
    right: 20px;
    color: rgb(245, 245, 245);
    }

.caption {
  font-size: 30px;
  line-height: 30px;
}

.tekstcover {
  position: relative;
}

/* knop effecten */
.btn-primary:after,
.btn-primary:before {
  backface-visibility: hidden;
  border: 1px solid rgb(245, 245, 245); 
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  background-color: $geel;
}

.btn-primary:hover:after,
.btn-primary:hover:before {
  backface-visibility: hidden;
  border-color: rgb(245, 245, 245);
  transition: width 350ms ease-in-out;
  width: 70%;
  background-color: $geel;

}

.btn:hover:before {
  bottom: auto;
  top: 0;
}

.btn-block {
  margin-bottom: 20px;
}

.btn-block:hover {
  opacity: 0.5;
}

/* Gerda-pagina */
.prijs {
  font-size: 24px;
  line-height: 24px;
}

/* Praktisch */
.card {
  background-color: $geel;
  border: none;
  margin-bottom: 20px;
}

.card-body {
  background-color: $groen;
  border: none;
}

h5>a:hover {
  text-decoration: none;
}

.card:active {
  background: $groen;
  border: none;
}

.vraag {
 color: rgb(245, 245, 245);
}

.vraag:hover {
  opacity: 0.5;
}

/* Contact */
input[type="name"], textarea{
  background-color: $blauw;
  border: none;
}

input[type="email"], textarea{
  background-color: $blauw;
  border: none;
}

.form-control{
  background-color: $blauw;
  border: none;
}

small {
  line-height: 12px;
}

.tel {
  color: #fff;
  text-decoration: underline;
}

.tel:hover {
  opacity: 0.5;
}

.tel:active {
  color: $geel;
}

/* Bevestiging pagina */
.tijdstip {
  text-decoration: underline;
}

/* Footer */
.footer {
  background: #7D7D7D;
  padding: 30px;
  text-align: center;
  word-spacing: 60px;
}

.foot {
  color: rgb(245, 245, 245);
}

.foot:hover {
  color: rgb(245, 245, 245);
  text-decoration: underline;
  opacity: 0.5
}

.foot:active {
  color: $geel;
  text-decoration: underline;
}

.copyright {
  word-spacing: 0px;
}

.copyright:hover {
  opacity: 0.5
}

/* Sprites */
.sprite {
  display: inline-block;
  height: 30px;
  width: 30px;
}

/* logo */
.logo {
background-position: 0 -60px;
}

/* Social Media */
.social-media {

}